*
{
    padding: 0;
    margin: 0;
}
body
{
background-image: url(starlightRoof1.jpg);
background-size: cover;
background-position:top;
box-sizing: border-box;
font-family: sans-serif;
}

.menu-bar
{
    background:rgba(245, 245, 245, 0.082);
    backdrop-filter: blur(10px);
    text-align: center;
}

.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li
{
    width: 100px;
    margin: 10px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: white;
}

.active,.menu-bar ul li:hover
{
    background-color: rgb(126, 71, 0);
    border-radius: 5px;
}

.sub-menu-1
{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
    display:block;
    position: absolute;
    background: rgba(128, 128, 128, 0.342);
    margin-top: 15px;
    margin-left: -15px;
    border-radius: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover
{
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px double rgb(255, 255, 255);
    background: transparent;
    border-radius: 0px;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: blue;
}

.menu-bar ul li a:hover
{
    color: blue;
}

.sub-menu-2
{
    display: none;
}

.hover-me:hover .sub-menu-2
{
    display:block;
    position: absolute;
    background: rgba(255, 28, 28, 0.24);
    margin-top: -38px;
    margin-left: 150px;
    border-radius: 0px;
}

.menu-bar ul li:hover .sub-menu-1 ul li:hover .sub-menu-2 ul li:hover
{
    background: rgb(83, 5, 5);
    border-radius: 5px;
}


.loginpage
{
    text-align: center;
    background:rgba(255, 153, 0, 0.082);
    backdrop-filter: blur(10px);
    margin: 10% auto;
    max-width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgb(255, 166, 0);
}

.loginkey input
{
    text-align: center;
    background: rgb(253, 123, 1);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 166, 0);
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.loginkey input:hover
{
    text-align: center;
    background: rgb(117, 57, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 166, 0);
    min-width: 100px;
    min-height: 25px;
    border-radius: 10px;
    padding: 10px;
    
}

.loginpage h1
{
    text-align: center; 
    color: rgb(255, 123, 0);  
    margin: 10px auto;
    font-weight: 100;
    font-size: 100%;
    border: 1px solid rgb(255, 145, 0);
    width: 150px;
    border-radius: 10px;
    background: rgb(54, 54, 54);
    
}

.loginpage h2 input[type=text],.loginpage h3 input[type=password]
{
    margin: 1px auto;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border: 1px solid rgb(255, 187, 0);
    border-radius: 10px;
}
.loginpage h5
{
    color: red;
    background: rgba(255, 132, 132, 0.596);
    font-size: 13px;
    width: 100px;
    height: 15px;
    margin-left: 20%;
    font-family: ;
    text-align: left;
    display: none;
}
